body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: PingFangSC-Regular;
  font-size: 14px;
}
ul,
li,
button,
img,
dl,
dt,
dd,
mark,
h4,
h5,
p,
i,
em,
b,
section,
header,
footer {
  margin: 0;
  padding: 0;
  font-weight: 400;
  outline: none;
}
ul {
  list-style: none;
}
a{
  text-decoration: none
}
.fl{
  float: left;
}
.fr{
  float:right;
}